<div class="hero" style="background: linear-gradient(to bottom, rgba(0,94,184,0.95) 0%, rgba(0,169,224,0.95) 100%);">
  <div class="container">
    <h1 class="pt-5 text-white" style="text-shadow: 0 2px 4px rgba(0,0,0,0.5);">Search & Book</h1>
    <h2 class="pt-3 pb-5 text-white" style="text-shadow: 0 2px 4px rgba(0,0,0,0.5);">Find, compare and book multiple contents at one glance!</h2>
  </div>
</div>

<div class="container mb-5 mt-5">
  <h2 class="h5 font-amadeus d-flex align-items-center m-0 mr-2 page-header-panel">
    <label class="page-header-label">Search flights</label>
  </h2>

  <ng-container *ngIf="resultState$ | async as resultState">
    <ng-container *ngIf="!resultState.recap.enabled; else recap">
      <app-search-form (performSearch)="search($event)"></app-search-form>
    </ng-container>
    <ng-template #recap>
      <app-search-recap [resultState]="resultState"></app-search-recap>
    </ng-template>
  </ng-container>

  <div class="mt-5">
    <app-search-results></app-search-results>
  </div>
</div>
