<mat-toolbar color="primary" style="zoom: 75%;">
  <mat-toolbar-row>
    <span>Most</span>





    <span class="example-spacer"></span>

    <!--<button mat-button [matMenuTriggerFor]="menu">{{lang}}</button>-->
    <!--<mat-menu #menu="matMenu">-->
      <!--<button mat-menu-item (click)="setLang('Item 1');">Item 1</button>-->
      <!--<button mat-menu-item (click)="setLang('Item 2');">Item 2</button>-->
      <!--<button mat-menu-item (click)="setLang('Item 3');">Item 3</button>-->
    <!--</mat-menu>-->

    <mat-icon class="example-icon" style="margin-left: 15px;">person_outline</mat-icon>

    <mat-icon class="example-icon" style="margin-left: 15px;">exit_to_app</mat-icon>

  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="white" style="zoom: 75%;">
  <mat-toolbar-row style="margin: 0px; padding: 0px;">
    <mat-tab-group  animationDuration="0ms" style="margin: 0px; padding: 0px; height: 70px;">
      <mat-tab label="Кассовая книга" style="height: 70px;"></mat-tab>
      <mat-tab label="Журнал операций" style="height: 70px;"></mat-tab>
      <mat-tab label="Денежный переводы" style="height: 70px;"></mat-tab>
      <mat-tab label="РРО" style="height: 70px;"></mat-tab>
    </mat-tab-group>
  </mat-toolbar-row>
</mat-toolbar>
