.font-headding{
  font-size: 1.2rem;
  color: #191919;
  font-family: Amadeus;
}
.font-regular{
  font-family: "Source Sans Pro";
  font: size 0.8rem;
}
.footer-button{
  height: 2rem;
  width:2rem;
}
