<footer class="page-footer">
    <a class="d-flex justify-content-center bg-white"  
    (click)="toggleFooter()"><img class="footer-button" src="//app_webapp-static/assets/images/expand.png"></a>

<div *ngIf="isToggled" class="container-fluid bg-white">
<div class="row text-center mx-4 border-bottom">
    <div class="col-md-3">
      <ul class="list-unstyled mt-5">
        <li class="py-3 font-headding">About amadeus</li>
        <li class="py-3 font-regular"><a href="#">Amadeus Store</a></li>
        <li class="py-3 font-regular"><a href="#">News</a></li>
        <li class="py-3 font-regular"><a href="#">Amadeus.com</a></li>
      </ul>
    </div>

    <div class="col-md-3">
        <ul class="list-unstyled mt-5">
          <li class="py-3 font-headding">My Account</li>
          <li class="py-3 font-regular"><a href="#">Profile details</a></li>
          <li class="py-3 font-regular"><a href="#">Agency details</a></li>
          <li class="py-3 font-regular"><a href="#">Orders</a></li>
          <li class="py-3 font-regular"><a href="#">Inventory</a></li>
          <li class="py-3 font-regular"><a href="#">Agency wishlist</a></li>
        </ul>
      </div>

      <div class="col-md-3">
          <ul class="list-unstyled mt-5">
            <li class="py-3 font-headding">My Business</li>
            <li class="py-3 font-regular"><a href="#">Service hub</a></li>
            <li class="py-3 font-regular"><a href="#">Selling platform connect</a></li>
          </ul>
      </div>

      <div class="col-md-3">
          <ul class="list-unstyled mt-5">
            <li class="py-3 font-headding">Contact us</li>
            <li class="py-3 font-regular">Amadeus marketing (Schweiz) AG Pfingstweidstrasse 60,
              8005 Zurich/ Switzerland
            </li>
            <li class="py-3 font-regular">+41 44 217 97 97</li>
            <li class="py-3 font-regular"><a href="#">Ask a question</a></li>
            <li class="py-3 font-regular"><a href="#">FAQ</a></li>
          </ul>
      </div>

</div>

<div class="row mx-4 py-5">
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
    <div class="col-md-3">
        <a class="pr-3" href="#"><img src="/app_webapp-static/assets/images/facebook.svg"></a>
        <a class="pr-3" href="#"><img src="/app_webapp-static/assets/images/twitter.svg"></a>
        <a class="pr-3"href="#"><img src="/app_webapp-static/assets/images/LinkedIn.svg"></a>
        <a class="pr-3" href="#"><img src="/app_webapp-static/assets/images/youtube.svg"></a>
    </div>

</div>
</div>
</footer>