.tl-layout {
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}

.example-container {
  height: calc(100% - 75px);
  overflow: auto;
}

table {
  width: 100%;
}

tr.mat-header-row {
  font-weight: bold;
  /*background-color: aliceblue;*/
}

tr.mat-footer-row {
  font-weight: bold;
  /*background-color: aliceblue;*/
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

.example-icon {
  margin-left: 10px;
}

.button-info:focus {
  outline: none;
  border: 0;
}

.mat-icon {
  transform: scale(0.8);
}
