<app-header></app-header>

<!--<p>device rro worked!</p>-->
<!--<input type="button" value="adsad" (click)="test();">-->
<div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 15px;">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <div class="text-center">
          <label style="padding-right: 15px;">Подключено РРО № <b>АТ42010000000</b></label>
          <label style="padding-left: 15px;">Баланс РРО: <b>45 000,00 грн.</b></label>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" style="margin-left: 0px; margin-right: 0px; height: calc(100% - 75px);">
  <div class="col-2">
    <mat-list>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_1' ? 'primary' : ''}}" (click)="selectTab('item_1');"
                style="width: 100%;">Нулевой отчет
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_2' ? 'primary' : ''}}" (click)="selectTab('item_2');"
                style="width: 100%;">Z-отчет
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_3' ? 'primary' : ''}}" (click)="selectTab('item_3');"
                style="width: 100%;">Item 3
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_4' ? 'primary' : ''}}" (click)="selectTab('item_4');"
                style="width: 100%;">Item 4
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_5' ? 'primary' : ''}}" (click)="selectTab('item_5');"
                style="width: 100%;">Item 5
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_6' ? 'primary' : ''}}" (click)="selectTab('item_6');"
                style="width: 100%;">Item 6
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="{{selectedTab == 'item_7' ? 'primary' : ''}}" (click)="selectTab('item_7');"
                style="width: 100%;">Item 7
        </button>
      </mat-list-item>
    </mat-list>
  </div>


  <div class="col-10" style="padding-top: 15px;">

    <ng-container [ngSwitch]="selectedTab">


      <ng-container *ngSwitchCase="'item_1'">
        <mat-card style="height: 100%;">
          <div class="row" style="height: 100%">

            <div class="col-4" style="height: 100%;">
              <div style="display: flex; justify-content: center; height: 100%">

                <mat-card style="height: 100%; border: none; box-shadow: none;">
                  <mat-card-header>
                    <label class="text-muted" style="margin-left: -25px;">предпросмотр</label>
                  </mat-card-header>
                  <mat-card-content class="text-center" style="
                width: 360px;
                padding: 10px;
                margin-top: 15px;
                box-shadow: 0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12) !important;
                ">


                    <perfect-scrollbar style="max-width: 600px; max-height: 475px" [config]="config"
                                       [scrollIndicators]="false">
                      <div style="padding-right: 10px">

                        <div class="row">
                          <div class="col-12 text-center">
                            <label>Нулевой отчет</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <label>ПНФП 0001</label>
                          </div>
                          <div class="col-6">
                            <label>РРО АТ420100000</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>----------------------------------------------------------------------------</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 text-left">
                            <label>бла бла бла данные</label>
                          </div>
                        </div>

                      </div>


                    </perfect-scrollbar>


                  </mat-card-content>
                </mat-card>

              </div>
            </div>

            <div class="col-8">

              <button mat-raised-button>Распечатать</button>
              <button mat-raised-button style="margin-left: 15px;">Сохранить в PDF</button>

            </div>

          </div>
        </mat-card>
      </ng-container>


      <ng-container *ngSwitchCase="'item_2'">
        <mat-card style="height: 100%;">
          <div class="row">
            <div class="col-12">
              item 2 content
            </div>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *ngSwitchCase="'item_3'">
        <mat-card style="height: 100%;">
          <div class="row">
            <div class="col-12">
              item 3 content
            </div>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *ngSwitchCase="'item_4'">
        <mat-card style="height: 100%;">
          <div class="row">
            <div class="col-12">
              item 4 content
            </div>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *ngSwitchCase="'item_5'">
        <mat-card style="height: 100%;">
          <div class="row">
            <div class="col-12">
              item 5 content
            </div>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *ngSwitchCase="'item_6'">
        <mat-card style="height: 100%;">
          <div class="row">
            <div class="col-12">
              item 6 content
            </div>
          </div>
        </mat-card>
      </ng-container>
      <ng-container *ngSwitchCase="'item_7'">
        <mat-card style="height: 100%;">
          <div class="row">
            <div class="col-12">
              item 7 content
            </div>
          </div>
        </mat-card>
      </ng-container>
    </ng-container>

  </div>


</div>
